NodeRED Clipboard - SerialFilter/NodeRED Clipboard - SerialFilter.txt
[{"id":"159777bf.ea6888","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"","bin":"bin","out":"char","addchar":false},{"id":"175a67ab.e8a598","type":"serial in","name":"PM6750","serial":"159777bf.ea6888","x":127,"y":86,"z":"c3aed0d3.3ce58","wires":[[]]},{"id":"8d6862fa.7297a","type":"function","name":"Filter","func":"var payload = msg.payload;\nmsg.payload = \"\";\nmsg.sUseData = \"\";\nvar iState = context.iState || 0;\nvar sData = context.sData || \"\";\nvar sUseData = context.sUseData || \"\";\n\nvar bCheckSum = context.bCheckSum || 0;\n\nvar iLength = context.iLength || 0;\nvar iLengthMax = context.iLengthMax || 0;\nvar sUseData;\n//=================================\n\nvar bCalCheckSum;\n\nif(payload == \"55\"){\n\tiState = 0;\n\tsData = \"0x55\";\n\tbCheckSum = 0;\n\tiLength = 0;\n\tiLengthMax = 0;\n\n\tsUseData=0;\n}\n\nswitch(iState)\n{\n\tcase 0 :\n\tif(payload == \"AA\")\n\t{\n\t\tsData += \" 0xAA\";\n\t\tiState = 1;\n\t}\n\tbreak;\n\n\tcase 1 :\n\tiLengthMax = parseInt(payload, 16) - 2;\n\tsData += \" 0x\"+payload;\n\tbCheckSum += parseInt(payload, 16);\n\tiState = 2;\n\tbreak;\n\n\tcase 2 :\n\tsData += \" 0x\"+payload;\n\tsUseData +=\"0x\"+payload+\" \";\n\tbCheckSum += parseInt(payload, 16);\n\tiLength+=1;\n\n\tif(iLength >= iLengthMax)\n\t{\n\t\tiState = 3;\n\t}\n\tbreak;\n\tcase 3 :\n\tsData += \" 0x\"+payload;\n\n\tvar sSum = \"\"+((0xFFFF00 | (bCheckSum)).toString(2)); \n\tvar sNotSum = \"\";\n\tfor(var i = 0;i <sSum.length;i++)\n\t{\n\t\tif(sSum[i]==0)\n\t\t{\n\t\t\tsNotSum+=\"1\";\n\t\t}else{\n\t\t\tsNotSum+=\"0\";\n\t\t}\n\t}\n\tsNotSum = (parseInt(sNotSum,2)).toString(16).toUpperCase();\n\n\tif(payload == sNotSum)\n\t{\n\t\tmsg.payload = sData;\n\t\tmsg.sUseData = sUseData;\n\t}\n\t\t//bCalCheckSum = (~(bCheckSum%256));\n\t\t//msg.payload = sData+\" c \"+bCheckSum+\" cs \"+\"0x\"+bCalCheckSum;\n\t\tiState = 0;\n\t\tbreak;\n\t}\n\n\n//msg.payload = (-7).toString(16)+\" \"+bCalCheckSum+\" \"+buffSum;\n//msg.payload = iState+\" \"+iLength+\" \"+iLengthMax+\" p \"+payload+\" s \"+sData;\n\n/*\nparseInt(\"1234abcd\", 16) = 305441741\n(305441741).toString(16) = \"1234abcd\"\n*/\n\n//===========\ncontext.iState = iState;\ncontext.sData = sData;\ncontext.sUseData = sUseData;\ncontext.bCheckSum = bCheckSum;\n\ncontext.iLength = iLength;\ncontext.iLengthMax =iLengthMax;\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":405,"y":219,"z":"c3aed0d3.3ce58","wires":[["ce06f4da.31f908"]]},{"id":"49ecd8af.b61328","type":"display","active":true,"x":453,"y":110,"z":"c3aed0d3.3ce58","wires":[]},{"id":"4e1af073.b1e51","type":"inject","name":"Interval","topic":"sent","payload":"","payloadType":"string","repeat":"0.2","crontab":"","once":true,"x":147,"y":220,"z":"c3aed0d3.3ce58","wires":[["87828254.787d8"]]},{"id":"65a4f0ce.9a5b1","type":"go","name":"","x":137,"y":154,"z":"c3aed0d3.3ce58","wires":[[]]},{"id":"87828254.787d8","type":"function","name":"dummy","func":"\nvar sTestCommand =\"0x55 0xAA 0x04 0x01 0x01 0xF9\";\n\n//============================================\n\nvar iLengthTest = context.iLengthTest || 0;\nvar sDataList = sTestCommand.split(\" \");\nvar iLengthMax = sDataList.length;\n\nvar sData = sDataList[iLengthTest];\nsData = sData.replace(\"0x\",\"\");\n\n\n//=======================\n\nmsg.payload = sData;\n\nif(iLengthTest < iLengthMax - 1)\n{\n\tiLengthTest += 1;\n}else{\n\tiLengthTest = 0;\n}\ncontext.iLengthTest = iLengthTest;\n\n//var bData = parseInt(sData);\n\nreturn msg;","outputs":1,"noerr":0,"x":287,"y":219,"z":"c3aed0d3.3ce58","wires":[["8d6862fa.7297a"]]},{"id":"ce06f4da.31f908","type":"function","name":"Use","func":"var payload = msg.payload;\nvar sUseData = msg.sUseData;\nmsg.payload = \"\";\nvar sUseDataList;\nvar sUseDataLength;\nvar sCommand = \"\";\n\nif(sUseData != \"\")\n{\n\tsUseDataList = sUseData.split(\" \");\n\tsUseDataLength = sUseDataList.length-1;\n\n\tif(sUseDataLength >= 1)\n\t{\n\t\tswitch(sUseDataList[0])\n\t\t{\n\t\t\tcase \"0x01\" :\n\n\t\t\tsCommand = \"ECG Test \"+parseInt(sUseDataList[1]);\n\t\t\tbreak;\n\t\t}\n\t}\n}\nmsg.payload = sCommand;\n//msg.payload = payload +\" \"+sUseData+\" \"+sCommand;\n\nreturn msg;","outputs":1,"noerr":0,"x":527,"y":219,"z":"c3aed0d3.3ce58","wires":[["ee88e7af.117718"]]},{"id":"ee88e7af.117718","type":"function","name":"FilterShowDebug","func":"var payload =msg.payload;\n\nif(payload!= \"\")\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":691,"y":219,"z":"c3aed0d3.3ce58","wires":[["49ecd8af.b61328"]]}]